setuptools>=60.2.0
matplotlib>=3.6.2
torch >= 2.0.0; platform_system == "Darwin"
torch >= 2.0.0; platform_system == "Linux"
torch >= 2.0.0 -i https://download.pytorch.org/whl/cu117; platform_system == "Windows"
